.bg-8{
  color: blue;
}
body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #BDF0DE;
  }
  p {font-size: 16px;}
.section {
width: 100%;
box-sizing: border-box;
}
.card {
position: relative;
max-width: 300px;
height: auto;
border-radius: 15px;
margin: 0 auto;
padding: 40px 20px;
box-shadow: 0 10px 15px rgba(0,0,0, .2);
transition: .5s;
overflow: hidden;
}

.card:hover {
transform: scale(1.1);
}
.col-xs-12 {
margin: 0 0 60px 0;
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title .fa {
background: linear-gradient(-45deg, #78fff2, #69b2fa);
}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa {
background: linear-gradient(-45deg, #3c0d75, #ff2424);
}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa {
background: linear-gradient(-45deg, #94904e, #fff673);
}
.card:before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 40%;
background: rgba(255,255,255,.1);
z-index: 1;
transform: skewY(-5deg) scale(1.5);
}
.title .fa {
color: #fff;
font-size: 60px;
width: 100px;
height: 100px;
border-radius: 50%;
text-align: center;
line-height: 10px;
box-shadow: 0 10px 10px rgba(0,0,0, .1)
}
.title h2 {
color: #fff;
font-size: 28px;
position: relative;
margin: 20px 0 0;
padding: 0;
z-index: 2;
}
.option {
position: relative;
z-index: 2;
}
.option ul {
margin: 0;
padding: 0;
}
.option ul li {
margin: 0 0 20px;
padding: 0;
color: #fff;
font-size: 16px;
list-style: none;
}
.card a {
font-size: 16px;
position: relative;
z-index: 2;
background: #fff;
color: #262626;
width: 150px;
height: 40px;
line-height: 40px;
border-radius: 40px;
display: block;
margin: 20px auto;
box-shadow: 0 5px 10px rgba(0,0,0, .2);
}
.card a:hover {
cursor: pointer;
text-decoration: none;
}
.hello{
    font-family: Montserrat;
    font-size: 32px;
    color: #d3f7ea;
}

.tr{
    font-family: Montserrat bold;
    font-size: 30px;
    color: #d3f7ea;
    align: center;
}
.h3{
  left: 497px;
  top: 444px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;

  color: #BDF0DE;
}
div.relative {
  position: relative;
  left: 250px;
  top: 90px;
}

.h99{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 50px;

  color: #BDF0DE;
}

.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color:#1e293b; /*dk blue*/
  color: #ffffff;
}
.bg-2 { 
  background-color: #0C3566; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #09284D; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #0F4A91; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background: #0C3566;
}

.container-ab {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 5px;
  font-family: Maven Pro;
  font-style: normal;
  font-weight: bold;
}
.navbar-nav  li a:hover {
  color: white !important;
}

.navbar-brand1{
  position: absolute;
  width: 157px;
  height: 67px;
  left: 53px;
  top: 0px;

  font-family: Montserrat Solid;
  font-style: normal;
  font-weight: 450;
  font-size: 30px;
  line-height: 57px;

  color: #BDF0DE;
}

.image-cropper {
          width: 200px;
          height: 200px;
          overflow: hidden;
          border-radius: 50%;
          object-fit: cover;
      }
  .img {
      display: inline;
      margin-left: 0%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 100% 0px; 
  }

  .btn {
      background-color: transparent;
      border-radius: 2px solid #ffffff;
      border-color: #ffffff;
      color: #ffffff;
      margin-bottom: 10px;
}

  .btn:hover {
      background-color: #474e5d;
      color: #ffffff;
      border-color: red;
}

.container-fluid2{
  padding-top: 310px !important;
  padding-bottom: 310px !important;
}

.accordion {
  margin: 20px;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Ubuntu;
}

.accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px 50px 20px 30px;
  background-color: #c6d2ed;
}

.accordion-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accordion-title {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}


.accordion-buttons {
  display: flex;
  flex-direction: row;
}

.accordion-buttons div {
  margin: 11px;
  border-radius: 15px;
  padding: 8px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #2b2d42;
  cursor: pointer;
}

.activity-card {
  width: 220px;
  height: 150px;
  box-shadow: 0 0px 20px rgba(85, 85, 85, 0.274);
  margin: 20px;
  padding: 20px;
}


.activity-card-container {
  width: max-content;
  display: flex;
  flex-direction: row;
}

.accordion-body {
  overflow-y: hidden;
  overflow-x: scroll;
  max-height: 250px;
  transition: 1s;
  transition-timing-function: ease-in-out;
}




.hidden {
  max-height: 0px;
  overflow-y: hidden;
}

.experience-container {
  display: block;
  flex-direction: column;

}
