{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
    <link rel="stylesheet" type="text/css" href='{% static "story7.css" %}'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>story 7</title>
</head>

<body class="container-fluid2 bg-2">
    <br>
    <div class="container">
        <div class="accordion-container">
            <div class="accordion " data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="activityButton">
                        <div class="accordion-title">
                            Aktivitas
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="activityBody">
                    <div class="activity-card-container">
                        <div>
                            <ul>
                                <li>Binge-watching lecture videos</li>
                                <li>Binge-watching Netflix</li>
                                <li>Listening to music on spotify</li>
                                <li>...and many more</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion " data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="experienceButton">
                        <div class="accordion-title">
                            Organisasi / Kepanitiaan
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="experienceBody">
                    <div class="activity-card-container">
                        <div>
                            <p>
                            <ul>
                                <li>VPO CGTS SMAIT Tunas bangsa</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion " data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="achievementButton">
                        <div class="accordion-title">
                            Prestasi
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="achievementBody">
                    <div class="activity-card-container">
                        <div id="nf-font">
                            <p>Lorem ipsum</p>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion " data-aos="fade-zoom-in">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="contactButton">
                        <div class="accordion-title">Biodata</div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="contactBody">
                    <div class="activity-card-container">
                        <div>
                            <ul>
                                <li>Achmad Ghifari T</li>
                                <li>Malang, 6 Apr 2002</li>
                                <li>Fasilkom UI</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        AOS.init();
        $('#activityButton').click(function () {
            $('#activityBody').toggleClass('hidden');
        })
        $('#experienceButton').click(function () {
            $('#experienceBody').toggleClass('hidden');
        })
        $('#achievementButton').click(function () {
            $('#achievementBody').toggleClass('hidden');
        })
        $('#contactButton').click(function () {
            $('#contactBody').toggleClass('hidden');
        })
    
        $('.accordion-button-up').click(function () {
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertBefore(thisAccordion.prev());
        })
    
        $('.accordion-button-down').click(function () {
            var thisAccordion = $(this).parent().parent().parent();
            thisAccordion.insertAfter(thisAccordion.next());
        })
        $('#styleModifier').on('click', () => {
            $('.accordion-header').toggleClass('new-bar');
            $('body').toggleClass('new-body');
            $('#j-font').toggleClass('new-j')
        })
    
        
    </script>
    
</body>    

</html>